<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"></head>
    
<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            <img style="width:200px ;" src="image/logo_black_transparent.png" alt="">            
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href=""><span class="las la-book"></span>
                    <span>Profile</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="profile">
            <img src="image/passpimg.jpg" alt="">
            <div class="about">
                <h3>Name : Username</h3>
                <h3>Email : user@gmail.com</h3>
                <h3>Phone No. : 9868545412</h3>
                <h3>Address : user,address,65646</h3>
                <h3>Sehat Id :SH0032211</h3>
            </div>

        </div>
        <div class="recent-cons">
            <div class="scroll-container">
                <h1 style="color: #fff; margin: 20px;">Recent Consultations</h1>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
                <div class="scroll-page">
                    <h2>Hospital Name</h2>
                    <h3>Dr. Name</h3>
                    <h3>Address</h3>
                    <a href="/views/pages/patientdesc.html">More Info</a>
                </div>
              </div>
        </div>
    </div>
</body>
</html>